@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Finder</h1>
    <p class="lead">We can find any movie that you are looking for!</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
           See a list of Movies.
        </p>
        <p><a a class="btn btn-warning" href="~/Views/Movies/Index.cshtml">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a list of directors</p>
        <p><a class="btn btn-info" href="~/Directors/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>Click below to start</p>
        <p><a class="btn btn-danger" href="~/Genres/Index">Learn more &raquo;</a></p>
    </div>
</div>